/*Hero section*/
.hero-section {
    height: 100vh;
  background-image: url('https://i.pinimg.com/1200x/e2/5d/d1/e25dd1c74a89de97b4b633d763b11444.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Tour Highlights*/
.masonry-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: 150px;
}

.item{
    overflow: hidden;
    border-radius: 8px;
   
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.item-small{
    grid-row: span 1;    
}

.item-medium{
    grid-row: span 2;  

}
.item-tall{
    grid-row: span 3;
}


.Assistance-section {
 height:60vh;
  background:url('https://i.pinimg.com/1200x/95/b8/79/95b879c724cec800577528623b032376.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

/*Contact section*/
.contact {
  background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.65)),
  url('https://i.pinimg.com/736x/27/03/18/27031891b305b4a11e122446c57914c2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*Activity card*/
.activity-card-img {
    width: 100%;
   height: 380px;
    object-fit: cover;
    }

  .card-text{
    min-height: 100px;
  }

  